@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: #5372f0; */
    background-image: radial-gradient( circle farthest-corner at 10.2% 55.8%,  rgba(252,37,103,1) 0%, rgba(250,38,151,1) 46.2%, rgba(186,8,181,1) 90.1% );
}

.wrapper{
    width: 605px;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 30px 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wrapper header{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content{
    margin: 35px 0;
}

.content .quote-area{
    display: flex;
    justify-content: center;
}

.quote-area .quote{
    font-size: 22px;
    text-align: center;
    word-break: break-all;
}

.quote-area i{
    font-size: 15px;
}

.quote-area i:first-child{
    margin: 3px 10px 0 0;
}

.quote-area i:last-child{
    margin: 0 0 3px 10px;
    display: flex;
    align-items: flex-end;
}

.content .author{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    font-size: 18px;
    font-style: italic;
}

.author span:first-child{
    margin: -7px 5px 0 0;
    font-family: monospace;
}

.wrapper .buttons{
    border-top: 1px solid #ccc;
}

.buttons .features{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.features ul{
    display: flex;
}

.features ul li{
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    color: #fa2694;
    border: 2px solid #fa2694;
}

.features ul li:hover{
    color: #fff;
    background: #fa2694;
}

.features button{
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 13px 22px;
    border-radius: 30px;
    background: #fa2694;
    transition: background .2s;
    font-weight: bold;
}

.features button:hover{
    color: #fa2694;
    background: #fff;
    font-weight: bold;
    outline: 2px solid #fa2694;
}

button.loading{
    opacity: .7;
    pointer-events: none;
}

@media screen and (max-width: 375px) {
    
.wrapper{
    width: 350px;
}

.wrapper header{
    font-size: 26px;
}

.wrapper .content{
    margin: 25px 0;
}

.quote-area .quote{
    font-size: 17px;
}

.quote-area i{
    font-size: 13px;
}

.content .author{
    font-size: 15px;
}

.buttons .features{
    margin-top: 14px;
}


.features ul li{
    height: 40px;
    width: 40px;
}
.features ul li i{
    font-size: 14px;
}



.features button{
    padding: 10px 20px;
}
}